// Import all the default styles, variables, mixins and typography
@import "../../globalStyles";

/*====================Styling for the VideoPlayer component==========================*/

.video{
    // background color of parent container to be shown for devices >=tablet
    // background-color:$video-background;
    
    //flexed to center the video horizontally
    display:flex;
    justify-content:center;
    
    // set the height of the container to scale properly with the video
    height:56vw;
    margin-top: 170px;

    @include tablet{
        margin-top:80px;
        padding:0 $mobile-padding;
        height:49.5vw;
    }
    @include desktop{
        padding:0 17%;
        height:36.3vw;
    }

    // encapsulates the video and the controls to allow for placement of controls
    &__wrapper{
        position:relative; 
        width:100%;
    }

    &__player{
        width:100%;
        height:100%;
        //fits the different sized video images to fit in the wrapper div
        object-fit:cover;
    }
    
    &__controls{
        display:flex;
        justify-content:space-between;
        position:absolute;
        bottom:8px;
        left:5%;
        width:90%;

        @include tablet{
            left:2%;
            width:95.7%;
            bottom:16px;
        }

        @include desktop{
            left:1%;
        }

        &-play{
            // center the icon vertically and horizontally
            @include center;
            // apply the default styling for the control divs
            @extend .controls;
            // margin-left:8px;
            @include desktop{
                margin-left:16px;
            }

        }
        &-scrubber{
            &-container{
                // center the icon vertically and horizontally
                @include center;
                @extend .controls;
                // apply the default styling for the control divs
                width:100%;
                margin: 0 8px;
                
                // places the progress bar and time at each end
                display:flex;
                justify-content:space-between;

                @include tablet{
                    margin: 0 16px;
                }
            }

            //black bar to measure progress in scrubber
            &-progress{
                background-color:black;
                border-radius:4px;
                width:100%;
                height:3px;
                @include tablet{
                    width:90%;
                }
            }
            &-time{
                // hide the video time for mobile devices
                display:none;

                @include tablet{
                    // show the video time for devices >=tablet size
                    display:block;
                    width:74px;
                    font-size: 12px;
                    color:$global-contrast;
                }
            }
        }
        
        &-right{
            // center the icon vertically and horizontally
            @include center;
            justify-content:space-between;
            // apply the default styling for the control divs
            @extend .controls;
        }

        &-volume{
            margin-left:16px;
        }
    }
   
}

