// Import all the default styles, variables, mixins and typography
@import "../../globalStyles";

/*====================Styling for the Header component==========================*/

.header{
  height:195px;
  box-sizing:border-box;
  background-color:$nav-background;
  width:100%;
  position:fixed;
  top:0;
  z-index:1;
  // Apply appropriate padding to the left and right for a section 
  @extend .section;
  padding-bottom:16px;
  box-shadow: 0px 2px 10px #707070;

  @include tablet{
    // header is flexed to center the nav bar vertically
    display:flex;
    align-items:center;
    justify-content: space-between;
    //the header height is not responsive and should have a fixed height of 80px
    height:80px;
    padding-top:16px;
  }
}

.nav-bar{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;

  // Display the nav bar elements in a row for devices >=tablet size
  @include tablet{
    flex-direction:row;
    justify-content: space-between;
  }

  &__logo{
    filter: $accent-filter;
    width:30px;
    // increase the size of the logo for devices >= tablet size
    @include tablet{
      width:50px;
    }

    &-link{
      display:flex;
      align-items:center;
    }

    &-name{
      padding:10px 10px 0 10px;
      color:white;
      font-size:16px;
      @include tablet{
        font-size:25px;
      }
      
      &--accent{
        color: #707070;
        font-style:italic;
      }
    }
  }
  
  &__signOut{
    color:$accent-color;
    filter:$accent-filter;
    width:35px;
    margin-left:10px;
    transform:rotate(180deg);
  }
  
  &--left{
    height:48px;
    display:flex;

    @include tablet{
      // use the margin on the logo to set a consistent distance between elements on the right side 
      margin-right:8px;
    }

  }

  &--right{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    @include tablet{
      // put the search box, avatar and the upload button in a row and push them to the right side for devices >=tablet size
      justify-content:flex-end;
      width:50%;
      min-width:245px;
     }

  }

  &__search{
    // make the search element relative to place the magnifying glass icon
    position:relative;
    width:100%;
    margin:10px 0;
    @include desktop{
      margin-left:2%;
    }
    
    &-input{
      // create an input box with (top-padding, bottom-padding, margin-bottom)
      @include input-text(15px, 15px, 8px);
      // border box is necssary to include the padding in the 100% width
      box-sizing:border-box;
      width:100%;
      // large left padding to allow for the placement of the magnifying glass icon
      padding-left:50px;

      @include tablet{
      // remove the margin from the input box for devices >=tablet to allow for row alignment
        margin-bottom:0;
      }

    }
    &-icon{
      // place the magnifying glass icon correctly in the search input
      position:absolute;
      top:12px;
      left:16px;
      width:25px;
      height:25px;

    }
  }

  &__upload{
    // align the upload button and the avatar in a row for all devices
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:80%;
    @include tablet{
      // width:50%;
      max-width:205px;
    }
  
    &-btn{
      // create an button with default styles (width, margin-bottom)
      @include input-button(100%,0);
      background-color:transparent;
      border:1px solid $accent-color;
      color:$accent-color;
      font-size:15px;
      padding:15px;
    
      @include tablet{
        padding: 15px 8px;
        
      }

      &-link{
        width:100%;
        // max width for mobile button - doesn't look good growing too much
        max-width:224px;

        @include tablet{
          margin-left:22px;
        }
      }

      &-icon{
        margin-right:5px;
        filter: invert(99%) sepia(96%) saturate(5207%) hue-rotate(180deg) brightness(117%) contrast(100%);
      }
    }

    &-avatar{
      // create an avatar with a 0px top margin
      @include avatar();
      margin-left:16px;

      @include tablet{
        width:35%;
        max-width:48px;
        }
    }
  }
}


