// Import all the default styles, variables, mixins and typography
@import "../../globalStyles";

.login-body{
    background-color:$nav-background;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    padding:10vw;
    height:100vh;
    @include tablet{
        flex-direction:row;
    }
}

.login{
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    @include tablet{
        margin-left:100px;
    }
    &__username{
        @include input-text(15px, 15px, 8px);
        width:250px;
    }
    &__submit{
        @include input-button(50%,0);
        background-color:transparent;
        border:1px solid $accent-color;
        color:$accent-color;
        font-size:15px;
        padding:15px;
        width:250px;
    }

    &__error{
        margin-top: 10px;
        color:red;
        font-style:italic
    }
}