/*======================= Define Global Fonts ======================= */

/**** Default Fonts ****/

// Avenir Next Regular
@font-face{
    font-family: "Avenir Next";
    src:url("../assets/fonts/AvenirNext-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

// Avenir Next Demi Bold
@font-face{
    font-family: "Avenir Next";
    src:url("../assets/fonts/AvenirNext-Demi.otf");
    font-weight:600;
    font-style:normal;
}

// Avenir Next Bold
@font-face{
    font-family: "Avenir Next";
    src:url("../assets/fonts/AvenirNext-Bold.otf");
    font-weight:bold;
    font-style:normal;
}

/**** Alternative Fonts ****/

// Roboto Regular
@font-face{
    font-family: "Roboto";
    src:url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

// Roboto Medium
@font-face{
    font-family: "Roboto";
    src:url("../assets/fonts/Roboto-Medium.ttf");
    font-weight:600;
    font-style:normal;
}

// Roboto Bold
@font-face{
    font-family: "Roboto";
    src:url("../assets/fonts/Roboto-Bold.ttf");
    font-weight:bold;
    font-style:normal;
}