// Color Palette

$nav-background:rgb(32, 32, 32);
$video-background:#202020;
$accent-color:#FFDF6C;
$accent-filter:invert(92%) sepia(22%) saturate(1148%) hue-rotate(335deg) brightness(102%) contrast(102%);

// Global Fonts
$global-text:#202020;
$global-contrast:#FFFFFF;

// Form Elements
$button-fill:#ffdf6c;
$button-text:#3f3f3f;
$avatar-fill:#E1E1E1;
$text-label: #AFAFAF;
$text-field-border: #E1E1E1;
$text-field-background: #FAFAFA;
$divider:#E1E1E1;
$active-input:#0095FF;
$button-hover:#0065AD;

//Delete Buttons
$delete-button: #FAFAFA;
$delete-text:#AFAFAF;
$hover-delete-fill:#AFAFAF;
$hover-delete-text:#3f3f3f;

/*======================= Margins and Padding ======================= */

// The outside padding used for alignment for all elements 

// Corresponds to 16px @ 320px screen width
$mobile-padding:5%;

// Corresponds to 180px @ 1440px screen width
$desktop-padding:12.5%;